.memo-game {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0em;
  font-size: 1.125rem;
  line-height: 2.125rem;
  color: #222;
  font-feature-settings: 'clig' off, 'liga' off;
}

/* .mole-description {
} */

.memo-settings-container {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.memo-label {
  text-transform: uppercase;
  flex-basis: 12rem;
}

.memo-output {
  min-width: 10.2rem;
  display: flex;
  height: 3.5rem;
  padding: 1.25rem 2.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-200, #ebebeb);
  background: var(--gray-200, #ebebeb);
}

.memo-result {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.memo-tile-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: min-content;
}
.memo-start-button-mobile {
  display: none;
}

.memo-outputs-mobile {
  display: none;
}

.memo-stop-button-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .memo-start-button-screen {
    display: none;
  }

  .memo-start-button-mobile {
    display: flex;
  }

  .memo-not-started-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .memo-started-layout-screen {
    display: none;
  }
  .memo-started-layout-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .memo-outputs-mobile {
    display: flex;
    flex-direction: row;
  }
  .memo-settings-container {
    margin: 0rem 0.5rem 0rem 0.5rem;
  }
  .memo-stop-button-mobile {
    margin: 0rem 0rem 1rem 0rem;
  }
  .memo-description {
    font-size: 1rem;
  }
  .memo-result {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .memo-tile-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.6rem;
    width: min-content;
  }
  .tiles-mamo {
    display: flex;
    justify-content: space-around;
  }
}
