.key-expertise ul,
.education ul {
  list-style-image: url('../Components/Icons/rocketIcon.svg');
}

.keyword {
  /* color: #2f83dd */
  color: #7156e9;
  font-weight: bold;
}

.issuer {
  font-weight: bold;
}

.certificate {
  margin-bottom: 20px;
}

/* .competition-list {
  list-style-type: symbols();
} */
