.part {
  display: flex;
  width: 40rem;
  margin-top: 0rem;
  margin-bottom: 3rem;
}

.left-employment-details {
  width: 16rem;
  height: 10rem;
  margin-right: 0.5rem;
}

.cv-company {
  color: var(--text-text-primary, #222);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cv-position {
  width: 16rem;

  color: var(--text-text-primary, #222);
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cv-years {
  width: 16rem;

  color: var(--text-text-primary, #222);
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.right-description {
  color: var(--text-text-primary, #222);
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 134.25%; /* 1.00688rem */
}

@media screen and (max-width: 768px) {
  .part {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    /* justify-content: center;
    align-items: center; */
  }

  .cv-description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 300px;
  }

  .cv-company,
  .cv-position,
  .cv-years {
    /* width: 40rem; */
  }

  .left-employment-details {
    height: max-content;
    width: 300px;
  }
}
