.cv-main-part {
  display: flex;
  /* flex-wrap: wrap-reverse; */
}
.cv .cv-mobile-header {
  display: none;
}

.experience-and-education {
  width: 9.3125rem;
  height: 5.6875rem;
  flex-shrink: 0;
  padding: 1rem 0rem;

  color: var(--text-text-primary, #222);
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.part-experience,
.part-education {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 2rem;
}

.cv-right {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.cv-personal-links {
  margin: 0rem;
  height: 0.5rem;
  display: flex;
  align-content: flex-end;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.cv-personal-links img {
  width: 23px;
  height: 23px;
  margin: 0.2rem;
}

.cv-photo {
  display: flex;
  justify-content: center;
}

.cv-name {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;

  /* header/H2 */
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem; /* 171.429% */
}

.cv-right a {
  color: #111;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.cv-adress {
  color: #111;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.cv-adress-label {
  color: #111;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8625rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
}
.cv-right img {
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.cv-skills {
  color: var(--text-text-primary, #222);
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 3rem;
}

.cv-skills-set {
  width: 16.1875rem;
  height: 6.75rem;
  flex-shrink: 0;
}

.cv-person-description {
  width: 16.1875rem;
  height: 6.75rem;
  flex-shrink: 0;
  margin-top: 10rem;
  margin-bottom: 16rem;

  color: var(--text-text-primary, #222);
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 134.25%;
}

@media screen and (max-width: 768px) {
  /* .cv .cv-mobile-header {
    display: inline-flex;
  }

  .cv .cv-main-header {
    display: none;
  }

  .cv-mobile-header .cv-header {
    color: var(--secondary-secondary, #23213d);
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.6875rem;
    margin-left: 0.2rem;
  }
  .cv .go-back-text {
    display: none;
  } */

  .cv-main-part {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .cv-right {
    display: flex;
  }
  .cv-right-contact-and-photo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0rem;
  }
  .cv-contact {
    margin-left: 2rem;
  }
  /* .cv-photo {
    height: 150px;
    width: 150px;
  } */

  .cv-right a {
    font-size: 0.75rem;
  }

  .cv-adress {
    font-size: 0.75rem;
  }

  .cv-adress-label {
    font-size: 0.75rem;
  }
  .cv-name {
    font-size: 1.5rem;
  }

  .part-education,
  .part-experience {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .cv-left .cv-info {
    margin-top: 5rem;
  }
}
