.stacks {
  display: inline-flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.stacks {
  max-width: 46rem;
}

@media screen and (max-width: 768px) {
  .stacks {
    display: inline-flex;
    width: 24rem;
    align-content: center;
    justify-content: space-evenly;
  }
}
