.toDoListWrapper .heading {
  display: flex;
  justify-content: left;
  font-family: 'Poppins' sans-serif;
  flex-direction: row;
  align-items: baseline;
}

.heading h2 {
  font-weight: 400;
}

.heading button {
    display: inline flex; 
  justify-content: center;
  align-items: center;
  height: 2.0rem;
  padding: 0.8rem 0.5rem;
  border: 1px solid #fe3756;
  background: #fe3756;
  border-radius: 0.5rem;
  color: #fff;
  text-align: center;

  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.9375rem;
  margin-left: 12em;
  cursor: pointer;
}

.addButton {
  display: inline flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  padding: 1.25rem 2.25rem;
  border-radius: 0.5rem;
  color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.9375rem;
  min-width: 10.2rem;
  border: 1px solid #23213d;
  background: #23213d;
  margin-left: 460px;
}