.exercise-category-header {
  font-size: 18px;
  font-weight: 600;
  padding: 2rem 0rem;
  margin-top: 1rem;
}

.exercises-categories a.active {
  background-color: rgb(120, 120, 120);
  color: var(--color-white);
}

.exercises-categories > * {
  display: list-item;
}

.exercises-categories {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.exercises-categories a {
  color: inherit;
}

.exercise-card {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  text-decoration: none;
  /* border: 1px solid #23213d; */
  color: inherit;
  box-shadow: 0px 1px 5px 0px gray;
}

.exercise-category {
  min-width: 14rem;
  max-width: 27rem;
  min-height: 5.5rem;
  flex-direction: row;
  padding: 1rem;
}

.exercise-card:hover {
  filter: invert(35%) sepia(42%) saturate(5740%) hue-rotate(332deg)
    brightness(102%) contrast(99%);
}

@media screen and (max-width: 768px) {
  .exercises-categories {
    flex-direction: row;
    justify-content: center;
  }

  .exercises-categories span {
    display: none;
  }

  .exercise-category {
    border: none;
    box-shadow: none;
    border-radius: unset;
    min-width: unset;
    padding-inline: 1rem;
    border-bottom: 0.25rem solid black;
    color: inherit;
  }

  .exercises-categories a.active {
    background-color: transparent;
    filter: invert(35%) sepia(42%) saturate(5740%) hue-rotate(332deg)
      brightness(102%) contrast(99%);
  }
}

excercises-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  list-style: none;
  padding: 0;
  color: inherit;
}

.excercise-list__item {
  min-height: 3.9375rem;
  padding: 0.9375rem;
  margin-bottom: 0.65rem;
  color: inherit;
  box-shadow: 0px 1px 5px 0px gray;
}

.excercise-list__link {
  text-decoration: none;
  display: grid;
  width: 100%;
  grid-template-columns: 2rem 2fr 1fr;
  column-gap: 1rem;
}

.execercise-list__tags {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75em;
  line-height: 1.4;
  column-gap: 0.25em;
  color: inherit;
}

.execercise-list__tags > *::before {
  content: '#';
}

.excercise-list__date {
  font-size: 0.625em;
  line-height: 1.4;
  margin-top: 0.25em;
  color: #23213d;
}

.excercise-list__name-date-container,
.execercise-list__tags {
  color: #23213d;
}
@media (width < 50rem) {
  .excercise-list__item {
    column-gap: 0.5rem;
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
    min-height: 1rem;
    color: #23213d;
    box-shadow: 0px 1px 5px 0px gray;
  }
}
