.dashboard {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .dashboard {
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.hej {
  font-family: 'DM Sans';
  font-size: 22px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  color: #fe3756;
  margin-left: 10px;
  /* display: inline-block; */
}

.reka {
  width: 22px;
  height: 22px;
}

.info {
  flex-wrap: wrap;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
  /* width: 645px;
  height: 34px;
  top: 196px;
  left: 266px; */
}

.dashboard-header {
  min-width: 17rem;
}
