.hit-the-mole-game {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0em;
  color: var(--text-text-primary, #222);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 1.125rem;
  line-height: 2.125rem;
}

.mole-output-mobile {
  display: none;
}
/* .mole-description {
} */

.mole-settings-container {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.mole-label {
  text-transform: uppercase;
  flex-basis: 12rem;
}

.mole-output {
  min-width: 10.2rem;
  display: flex;
  height: 3.5rem;
  padding: 1.25rem 2.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-200, #ebebeb);
  background: var(--gray-200, #ebebeb);
}

.mole-start-button-mobile {
  display: none;
}

.mole-tile-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  width: min-content;
}

.mole-not-started-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

@media screen and (max-width: 768px) {
  .mole-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 2rem 1rem 1rem;
  }

  .mole-not-started-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .mole-start-button {
    display: none;
  }
  .mole-start-button-mobile {
    display: flex;
  }

  .mole-not-started-layout-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game-label {
    margin-bottom: 0rem;
  }

  .mole-output-mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
  }

  .mole-output-screen {
    display: none;
  }

  .mole-game-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mole-output {
    margin: 0rem 0.5rem 0rem 0.5rem;
  }

  .mole-stop-button-mobile {
    margin-top: 2rem;
  }

  .mole-tile-board {
    margin-top: 1rem;
  }

  .mole-congrats {
    display: flex;
    text-align: center;
  }
}
