.game-settings-container {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.game-settings-container-error {
  background-color: #f3eae8;
}

.game-label {
  text-transform: uppercase;
  flex-basis: 12rem;
}

.game-output {
  min-width: 10.2rem;
  display: flex;
  height: 3.5rem;
  padding: 1.25rem 2.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-200, #ebebeb);
  background: var(--gray-200, #ebebeb);
}

.game-label-error {
  font-size: 0.5em;
  display: block;
  line-height: 1em;
}
