.game-settings-container {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.game-settings-container-error {
  background-color: #ed5f5f;
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  margin-right: 30rem;
}

.game-label {
  text-transform: uppercase;
  flex-basis: 12rem;
  min-width: 12rem;
}

.game-output {
  min-width: 10.2rem;
  display: flex;
  height: 3.5rem;
  padding: 1.25rem 2.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-200, #ebebeb);
  background: var(--gray-200, #ebebeb);
}

.game-label-error {
  font-size: 0.8em;
  display: block;
  line-height: 1em;
}

@media screen and (max-width: 768px) {
  .game-settings-container {
    display: flex;
    flex-direction: column;
    column-gap: 1.5rem;
    align-items: center;
    margin-bottom: 2rem;
    max-height: 18rem;
  }

  .game-label {
    display: contents;
  }
}
